<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content requirement-dialog p-4">
    <!-- Modal Header -->
    <div class="modal-header border-bottom pb-3">
      <h2 mat-dialog-title>{{ data?.id ? 'Edit Command Activity/Department' : 'Add Command Activity/Department' }}</h2>
      <button type="button" class="btn-close" (click)="closeDialog()" aria-label="Close"></button>
    </div>

    <form [formGroup]="activityForm">
      <!-- Modal Body -->
      <div class="modal-body">
        <div class="row g-3">
          <!-- Department Name -->
          <div class="col-12">
            <label for="departmentName" class="form-label"> Department Name <span class="text-danger">*</span> </label>
            <input type="text" class="form-control" id="departmentName" formControlName="departmentName" placeholder="Enter Department Name" />
            <mat-error *ngIf="activityForm.get('departmentName')?.invalid && activityForm.get('departmentName')?.touched">
              Department Name is required.
            </mat-error>
          </div>

          <!-- Admin -->
          <div class="col-12">
            <label class="form-label"> Admin <span class="text-danger">*</span> </label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="adminUserId" placeholder="Select Admin">
                <ngx-mat-select-search [formControl]="adminSearchControl" placeholderLabel="Search Admin" noEntriesFoundLabel="Data not found">
                </ngx-mat-select-search>
                <mat-option *ngFor="let admin of adminList" [value]="admin.id">
                  {{ admin.fullName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-12 text-center my-2 fw-bold">OR</div>

          <div class="col-12">
            <label class="form-label"> Sub Admin <span class="text-danger">*</span> </label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="subAdminId" placeholder="Select Sub-Admin">
                <ngx-mat-select-search [formControl]="adminSearchControl" placeholderLabel="Search Sub-Admin" noEntriesFoundLabel="Data not found">
                </ngx-mat-select-search>
                <mat-option *ngFor="let admin of adminList" [value]="admin.id">
                  {{ admin.fullName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer d-flex justify-content-center pt-3">
        <button type="submit" class="btn btn-primary px-4 fw-bold" [disabled]="activityForm.invalid" (click)="submitForm()">Save</button>
      </div>
    </form>
  </div>
</div>
