<div class="container-fluid">
  <div class="card bg-light-success shadow-none position-relative overflow-hidden">
    <div class="card-body px-4 pt-3 pb-2">
      <div class="row align-items-center">
        <div class="col-9">
          <h5 class="fw-semibold page-heading"><i class="fa-solid fa-users-gear me-2"></i>Nudge Groups</h5>
        </div>
        <nav aria-label="breadcrumb mt-2">
          <ul class="breadcrumb">
            <li class="breadcrumb-item text-muted">
              <a [routerLink]="['/dashboard/smart-board']" class="text-muted">Home</a>
            </li>
            <li class="breadcrumb-item text-muted">
              <a class="text-dark">>&nbsp;Nudge Groups</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-4">
    <form [formGroup]="nudgeGroupsSearchForm">
      <div class="d-flex align-items-center">
        <div class="row g-3 align-items-center flex-grow-1">
          <div class="col-md-6 col-lg-3">
            <input type="text" class="form-control input" formControlName="messageGroupName" placeholder="Search Nudge Groups" />
          </div>
          <div class="col-md-1 col-lg-1">
            <button class="btn btn-rounded btn-primary w-100 search-btn" matTooltip="Search" (click)="searchNudgeGroups(true)">
              <i class="ti ti-search" style="font-size: 21px"></i>
            </button>
          </div>
          <div class="col-md-1 col-lg-1">
            <button class="btn btn-primary w-100 reset-btn" type="button" matTooltip="Refresh" (click)="resetFilter()">
              <i class="fs-7 ti ti-refresh"></i>
            </button>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-4">
          <button *ngIf="hasAccessToAdd" class="btn btn-primary ms-auto" [routerLink]="'/dashboard/communication/create-nudge-group'">
            <i class="fa fa-plus"></i> Add
          </button>
        </div>
      </div>
    </form>

    <!-- Nudge Groups Table -->
    <div style="overflow-x: auto" class="card mt-5 mb-5">
      <table class="table table-striped pb-4">
        <thead class="table-head">
          <tr>
            <th scope="col" class="table-heading">
              <input
                class="form-check-input success checkAll"
                type="checkbox"
                value="mycheckbox1"
                id="checkAll"
                (change)="checkBoxValueClicked($event, 'all', undefined)" />
            </th>
            <th scope="col" class="table-heading">Nudge Group Name</th>
            <th scope="col" class="table-heading">User/Group Count</th>
            <th scope="col" class="table-heading" style="color: #5a6a85; width: 100px">
              <div class="dropdown dropstart">
                <a href="#" class="fw-bolder" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="color: #5a6a85">
                  Action <i class="fa fa-caret-down fs-2 ml-2" style="color: #0f456b"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li>
                    <a class="dropdown-item d-flex align-items-center gap-3" (click)="downloadTableData()">
                      <i class="fs-4 ti ti-download" style="color: #0f456b"></i>Download
                    </a>
                  </li>
                </ul>
              </div>
            </th>
          </tr>
        </thead>
        <tbody class="nudgeGroups-table">
          <tr *ngFor="let nudgeGroup of nudgeGroupsList">
            <td>
              <input
                class="form-check-input success"
                type="checkbox"
                [id]="'nudgeGroupsCheckbox' + nudgeGroup.messageGroupId"
                (change)="checkBoxValueClicked($event, '', nudgeGroupsList)" />
            </td>
            <td>{{ nudgeGroup.messageGroupName }}</td>
            <td>{{ nudgeGroup.userCount }}</td>
            <td>
              <!-- Conditionally show the full action menu or distinct buttons based on expandAction -->
              <ng-container *ngIf="expandAction; else showButtons">
                <div class="dropdown dropstart">
                  <a href="#" class="text-muted" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ti ti-dots fs-5" style="color: #0f456b"></i>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li *ngIf="hasAccessToView">
                      <a class="dropdown-item d-flex align-items-center gap-3" (click)="onViewClick(nudgeGroup)">
                        <i class="fa-solid fa-eye" style="color: #0f456b"></i>View
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center gap-3" (click)="editNudgeGroup(nudgeGroup.messageGroupId)">
                        <i class="fa-solid fa-pen" style="color: #0f456b"></i>Edit
                      </a>
                    </li>
                    <li *ngIf="hasAccessToDelete">
                      <a class="dropdown-item d-flex align-items-center gap-3" (click)="deleteNudgeGroup(nudgeGroup.messageGroupId)">
                        <i class="fa-solid fa-trash-can" style="color: #0f456b"></i>Delete
                      </a>
                    </li>
                  </ul>
                </div>
              </ng-container>

              <!-- Show all action buttons distinctly if expandAction is false -->
              <ng-template #showButtons>
                <div class="btn-group d-flex align-items-center align-btn" style="gap: 15px">
                  <a *ngIf="hasAccessToView" (click)="onViewClick(nudgeGroup)" class="text-muted" title="View" style="cursor: pointer">
                    <i class="fs-3 fa-solid fa-eye" style="color: #0f456b"></i>
                  </a>
                  <a (click)="editNudgeGroup(nudgeGroup.messageGroupId)" class="text-muted" title="Edit" style="cursor: pointer">
                    <i class="fs-3 fa-solid fa-pen" style="color: #0f456b"></i>
                  </a>
                  <a
                    *ngIf="hasAccessToDelete"
                    (click)="deleteNudgeGroup(nudgeGroup.messageGroupId)"
                    class="text-muted"
                    title="Delete"
                    style="cursor: pointer">
                    <i class="fs-3 fa-solid fa-trash-can" style="color: #0f456b"></i>
                  </a>
                </div>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-sm-6 align-self-center" style="width: 200px">
        <a class="btn d-flex fw-bolder" *ngIf="!noMoreRecords" id="loadMore" (click)="loadMoreRecord()">Load More...</a>
      </div>
    </div>
  </div>
</div>
