<div class="container-fluid">
  <div class="card bg-light-success shadow-none position-relative overflow-hidden">
    <div class="card-body px-4 pt-3 pb-2">
      <div class="row align-items-center">
        <div class="col-9">
          <h5 class="fw-semibold page-heading"><i class="fa-solid fa-clipboard-list me-2"></i>Surveys</h5>
        </div>
        <nav aria-label="breadcrumb mt-2">
          <ul class="breadcrumb">
            <li class="breadcrumb-item text-muted">
              <a [routerLink]="['/dashboard/smart-board']" class="text-muted">Home</a>
            </li>
            <li class="breadcrumb-item text-muted">
              <a class="text-dark">>&nbsp;Surveys</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <!--------------Main Content----------->
  <section class="mb-2 mt-4">
    <div class="mt-2" id="checklist">
      <form>
        <div class="row align-items-center">
          <div class="col-md-6 col-lg-4">
            <input type="text" class="form-control input" name="search" placeholder="Search Surveys" />
          </div>
          <div class="col-auto">
            <button class="btn btn-primary btn-rounded search-btn" matTooltip="Search" title="Search">
              <i class="ti ti-search" style="font-size: 21px"></i>
            </button>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary reset-btn" type="button" matTooltip="Refresh" title="Refresh">
              <i class="fs-7 ti ti-refresh"></i>
            </button>
          </div>
          <div *ngIf="hasAccessToAdd" class="col d-flex justify-content-end">
            <button class="btn btn-primary" matTooltip="New Survey Message" [routerLink]="'/dashboard/communication/survey-message'">
              <i class="fa fa-plus"></i> Add
            </button>
          </div>
        </div>

        <div>
          <div style="overflow-x: auto" class="card mt-4 mb-5">
            <table class="table table-striped">
              <thead class="table-head">
                <tr>
                  <th scope="col" class="table-heading">
                    <input
                      class="form-check-input success checkAll"
                      type="checkbox"
                      id="checkAll"
                      (change)="checkBoxValueClicked($event, 'all', undefined)" />
                  </th>
                  <th scope="col" class="table-heading">Title</th>
                  <th scope="col" class="table-heading">Text</th>
                  <th scope="col" class="table-heading">User Count</th>
                  <th scope="col" class="table-heading" style="color: #5a6a85; width: 100px">
                    <div class="dropdown dropstart">
                      <a href="#" class="fw-bolder" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="color: #5a6a85">
                        Action <i class="fa fa-caret-down fs-2 ml-2" style="color: #0f456b"></i>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                          <a class="dropdown-item d-flex align-items-center gap-3">
                            <i class="fs-4 ti ti-download" style="color: #0f456b"></i>Download
                          </a>
                        </li>
                      </ul>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody class="Survey-table">
                <tr *ngFor="let items of surveyList">
                  <td>
                    <input
                      class="form-check-input success"
                      type="checkbox"
                      [id]="'categoryCheckbox' + items.surveyDetailsId"
                      (change)="checkBoxValueClicked($event, '', surveyList)" />
                  </td>
                  <td>{{ items.messageTitle }}</td>
                  <td>{{ items.messageText }}</td>
                  <td>{{ items.userCount }}</td>
                  <td>
                    <ng-container *ngIf="expandAction; else showButtons">
                      <div class="dropdown dropstart">
                        <a href="#" class="text-muted" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="ti ti-dots fs-5" style="color: #0f456b"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <li *ngIf="hasAccessToView">
                            <a class="dropdown-item d-flex align-items-center gap-3"> <i class="fa-solid fa-eye" style="color: #0f456b"></i>View </a>
                          </li>
                          <li>
                            <a class="dropdown-item d-flex align-items-center gap-3">
                              <i class="fa-solid ti ti-info-hexagon" style="color: #0f456b"></i>Details
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item d-flex align-items-center gap-3">
                              <i class="bi bi-pencil-square fs-5" style="color: #0f456b"></i>Edit
                            </a>
                          </li>
                        </ul>
                      </div>
                    </ng-container>
                    <ng-template #showButtons>
                      <div class="btn-group d-flex align-items-center align-btn" style="gap: 15px">
                        <a class="text-muted" title="View" style="cursor: pointer">
                          <i class="fs-3 fa-solid fa-eye" style="color: #0f456b"></i>
                        </a>
                        <a class="text-muted" title="Edit" style="cursor: pointer">
                          <i class="fs-4 bi bi-pencil-square" style="color: #0f456b"></i>
                        </a>
                        <a class="text-muted" title="Details" style="cursor: pointer">
                          <i class="fs-4 ti ti-info-hexagon" style="color: #0f456b"></i>
                        </a>
                      </div>
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="col-sm-6 align-self-center" style="width: 200px">
              <a class="btn d-flex fw-bolder" *ngIf="!noMoreRecords" id="loadMore">Load More...</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
