.input-button-group {
  display: flex;
  align-items: center; /* Align vertically */
  gap: 10px; /* Add space between the input box and buttons */
}

.form-control {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 1px;
}

.btn-back {
  background-color: white;
  color: #000;
  border: 1px solid #000;
}

.btn-primary {
  background-color: #4ea6e6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive design for mobile */
@media only screen and (max-width: 768px) {
  .input-button-group {
    flex-direction: column;
    gap: 10px; /* Add vertical space between input and buttons */
  }

  .btn-back,
  .btn-primary {
    width: 100%;
  }
}
