<!-- Preloader -->

<!-- Body Wrapper -->
<body class="signin-body">
  <div class="mt-5 mb-5">
    <div class="container-fluid">
      <div class="row g-0">
        <div class="col-sm-12 col-md-12 col-lg-6 signin-section text-center">
          <div class="text-center"><img class="logo img-fluid" src="assets/images/asego/logo.png" width="200px" /></div>
          <div class="mt-1">
            <form class="signin-form text-center p-4" method=" " action="" [formGroup]="resetPasswordForm">
              <div class="input-password mb-3">
                <input
                  [type]="showPasswordNew ? 'text' : 'password'"
                  class="form-control input"
                  placeholder="New password"
                  formControlName="password" />
                <i class="fa fa-lock"></i>
                <i class="icon" [ngClass]="showPasswordNew ? 'fa fa-eye icon' : 'fa fa-eye-slash'" (click)="onShowPasswordNewClick()"></i>
              </div>
              <div class="input-password mb-3">
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  class="form-control input"
                  placeholder="Confirm New Password"
                  formControlName="confirmPassword" />
                <i class="fa fa-lock"></i>
                <i class="icon" [ngClass]="showPassword ? 'fa fa-eye icon' : 'fa fa-eye-slash'" (click)="onShowPasswordClick()"></i>
              </div>

              <!-- <div class="mt-2 mb-3">
                  <p class="float-end">
                    <a href="" class="text-dark">Forgot My Password</a>
                  </p>
                </div> -->

              <div class="signin-buttons">
                <button type="submit" class="btn btn-primary w-50" (click)="resetPassword()">Reset Password</button>
                <button type="button" class="btn btn-light w-65 ml-5" (click)="login()">Login</button>
              </div>
            </form>
          </div>

          <div class="mt-3 services">
            <div class="text-center mx-3">
              <img src="assets/image/medical.svg" />
              <p class="text-dark">
                24X7 medical <br />
                assistance
              </p>
            </div>
            <div class="text-center mx-3">
              <img src="assets/image//customisable.svg" />
              <p class="text-dark">
                Customisable <br />
                insurance plans
              </p>
            </div>
            <div class="text-center mx-3">
              <img src="assets/image/fast-track.svg" />
              <p class="text-dark">
                Fast track <br />
                claims support
              </p>
            </div>
          </div>

          <p class="text-center partners-heading">Trusted by 18,000+ Travel Trade Partners</p>
          <div class="bxslider d-flex justify-content-center">
            <div class="partner-slide">
              <img src="assets/image/partner-images/indigo.png" />
            </div>

            <div class="partner-slide">
              <img src="assets/image/partner-images/vfs.png" />
            </div>

            <div class="partner-slide">
              <img src="assets/image/partner-images/gbl.png" />
            </div>

            <div class="partner-slide">
              <img src="assets/image/partner-images/fcm.png" />
            </div>

            <div class="partner-slide">
              <img src="assets/image/partner-images/yatra.png" />
            </div>

            <div class="partner-slide">
              <img src="assets/image/partner-images/nata.svg" />
            </div>
            <div class="partner-slide">
              <img src="assets/image/partner-images/tbo.png" />
            </div>

            <div class="partner-slide">
              <img src="assets/image/partner-images/ttk.png" />
            </div>
            <div class="partner-slide">
              <img src="assets/image/partner-images/uniglobe.png" />
            </div>
            <div class="partner-slide">
              <img src="assets/image/partner-images/vacation_exotica.png" />
            </div>
          </div>

          <div class="row text-center">
            <img class="years-img" src="assets/image/year-img.png" />
            <h6 class="fw-semibold text-dark mt-1">Of pioneering past & promise of an innovative future</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      var a = $('.bxslider').bxSlider({
        minSlides: 2,
        maxSlides: 3,
        mode: 'horizontal',
        adaptiveHeight: true,
        slideWidth: 150,
        moveSlides: 10,
        auto: true,
        pager: false,
        slideMargin: 5,
        controls: false,
      });
    });
  </script>
</body>
